extends layout

block content
  include nav.jade
  .container
    h1 Charts
    .row.div-select
      .col-md-4
        select#select-chart.form-control
          option(value="company") Laptop Distribution of Companies
          option(value="os") Quantity between OSs
          option(value="ram") Quantity between RAMs
          option(value="model") Quantity between Models
          option(value="cpu") CPU Top 10
      .col-md-6
        select#company-chart.form-control
          option(value="") -- Please Select Company Name --
          each company in companies
            option(value=company)= company

  #canvasDiv

  script(src='/javascripts/ichart.1.2.1.min.js')
  script(src='/javascripts/icharts.js')