extends layout

block content
  .container
    h1 #{computer.ComputerName} - Detailed Information
    table.table.table-striped.table-hover
      colgroup
        col(style:{width:10%})
      each key,value in computer
        tr
          th= value
          td= key
      tr
        th Actions
        td
          if computer.status
            button.btn.btn-info.btn-size(type='button', onclick='window.close()') Close
          else
            button.btn.btn-danger.btn-size(type='button', data-toggle='modal', data-target='#myModal') Delete
            |&nbsp;&nbsp;
            button#btn-edit.btn.btn-primary.btn-size(type='button') Edit
            button.btn.btn-info.btn-size.pull-right(type='button', onclick='window.close()') Close
    
  .alert.alert-success#edit-success(style={"display":"none"}) Update successful!
  .alert.alert-danger#edit-failed(style={"display":"none"}) Update failed!

  #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;        
            h4#myModalLabel.modal-title Delete confirmation
          .modal-body
            | Do you want to delete all the computer infomation of #{computer.ComputerName}?
          .modal-footer
            a.btn.btn-default(type='button', data-dismiss='modal') No       
            a.btn.btn-default(type='button', href='/delete/'+computer.ComputerName) Yes
    
  script(src='/javascripts/details.js')
        
        
        
        
        
        
        
        
        