doctype html
html
  head
    title= title
    block css
      link(rel='stylesheet', href='/stylesheets/style.css')
      link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    block script
      script(src='/javascripts/jquery.min.js')
      script(src='/javascripts/bootstrap.min.js')
    style.
      body { font: 13px Helvetica, Arial; }

  body
    block content