extends layout

block content
  include nav.jade
  .container
    h1 Logs
    .panel.panel-default
      .panel-heading Today's Logs:&nbsp;
        span#log-count 0
        .pull-right.label.label-success#refresh-log(style={"cursor": "pointer"})
          span.glyphicon.glyphicon-repeat
      .panel-body#log-panel(style={"height":"40vmin","overflow-y" :"auto"})
        table.table.table-hover#log-list
          
    .clearfix
    #chart.panel-body(style={"height":"400px","width":"1100px"})


  script(src='/javascripts/echarts-bar.min.js')
  script(src='/javascripts/createTable.js')
  script(src='/javascripts/log-charts.js')
  script.
    var groupLog = !{docs}

