ul.nav.nav-tabs
    li(role='presentation',class={active: currentUrl === '/index'}) 
        a(href='/') Home
    li(role='presentation',class={active: currentUrl === '/reports'})
        a(href='/reports') Reports