ul.nav.nav-tabs
    li(role='presentation',class={active: currentUrl === '/'}) 
        a(href='/')
            span.glyphicon.glyphicon-home
            |&nbsp;Home
    li(role='presentation',class={active: currentUrl === '/reports/'})
        a(href='/reports/')
            span.glyphicon.glyphicon-cloud-download
            |&nbsp;Reports  
    li(role='presentation',class={active: currentUrl === '/statistics/'})
        a(href='/statistics/')
            span.glyphicon.glyphicon-list-alt
            |&nbsp;Statistics
    li(role='presentation',class={active: currentUrl === '/charts/'})
        a(href='/charts/')
            span.glyphicon.glyphicon-stats
            |&nbsp;Charts
    li(role='presentation',class={active: currentUrl === '/logs/'})
        a(href='/logs/')
            span.glyphicon.glyphicon-floppy-disk
            |&nbsp;Logs