ul.nav.nav-tabs
    li(role='presentation',class={active: currentUrl === '/'}) 
        a(href='/') Home
    li(role='presentation',class={active: currentUrl === '/reports/'})
        a(href='/reports/') Reports    
    li(role='presentation',class={active: currentUrl === '/statistics/'})
        a(href='/statistics/') Statistics
    li(role='presentation',class={active: currentUrl === '/charts/'})
        a(href='/charts/') Charts