extends layout

block content
  include nav.jade
  .container
    h1 Reports
    #accordion.panel-group(role='tablist', aria-multiselectable='true')
    .panel.panel-default
        #headingOne.panel-heading(role='tab')
          h4.panel-title
            a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
              | Customize Reports
        #collapseOne.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingOne')
          .panel-body
            .checkbox.check-all
                label
                  input#select-all(type="checkbox")
                  |Select All
            form#div-report.form.form-horizontal(action="/reports/generate",method="post",enctype="application/x-www-form-urlencoded")
              .form-group#check-container
                each item in items
                  .checkbox.col-xs-6.col-md-4
                    label
                      input(type="checkbox",name=item)
                      =item

              button#create-report.btn.btn-primary(type="submit",onsubmit="onProcess()") Generate Report
      .panel.panel-default
        #headingTwo.panel-heading(role='tab')
          h4.panel-title
            a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
              | Scheduled Reports
        #collapseTwo.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingTwo')
          .panel-body
            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.
      .panel.panel-default
        #headingThree.panel-heading(role='tab')
          h4.panel-title
            a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
              | Reports Output  
        #collapseThree.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='headingThree')
          .panel-body
            table.table.table-striped.table-hover
              tr
                th Report Name
                th Created Date
                th Action
              each report in reports
                tr
                  td= report.filename
                  td= report.created
                  td
                    a.btn.btn-success(href='/reports/download/'+report.filename) Download
                    |&nbsp;&nbsp;
                    a.btn.btn-danger.btn-size(href='/reports/delete/'+report.filename) Delete

  script.
    $(function(){
      $('#select-all').click(function () {
        $('#check-container input[type="checkbox"]').prop('checked', this.checked);
      });
      $('#div-report').submit(function(event){

        var btn = $('#create-report');
        var flag = true;
        btn.prop('disabled',false); 
        setInterval(function(){
          btn.text(flag?"processing ..":"processing ...");
          flag = !flag;
        },800);
      });
    })
