extends layout

block content
  include nav.jade
  .container
    h1 Reports
    a.btn.btn-primary(href='/reports/generate/') Generate Report
    br
    br
    table.table.table-striped.table-hover
      tr
        th Report Name
        th Action
      each report in reports
        tr
          td= report
          td
            a.btn.btn-success(href='/reports/'+report) Download