body {
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.btn-size {
    width: 78px !important;
}
.index-filter{
  margin-bottom: 8px;
}
.head-title{
  font: 13px Helvetica, Arial;
  font-weight: 700;
}
.page-count{
    float: right;
    height: 30px;
    font-weight: 600;
    line-height: 30px;
    padding-right: 8px;
}
.check-all{
      border-bottom: 1px solid #d0c9c9;
}
.check-all label{
  font-weight: 600 !important;
}
.filter-select select{
  margin-bottom: 10px;
}
#check-container .checkbox.checkbox{
  margin-top: -5px;
}
#results-count{
    display: inline-block;
    width: 20px;
}
#txt-search{
  display: inline-block;
  margin-left: 100px;
}
.div-select{
  margin-bottom: 50px;
}
